################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Fitzone.desktop/FileContentIndex
/.vs/Fitzone.desktop/v17
/.vs
/Fitzone.Solution/.vs/Fitzone.Solution/FileContentIndex
/Fitzone.Solution/Fitzone.Controller/bin/Debug/net8.0
/Fitzone.Solution/Fitzone.Controller/obj
/Fitzone.Solution/Fitzone.EF/bin/Debug/net8.0
/Fitzone.Solution/Fitzone.EF/obj
/Fitzone.Solution/Fitzone.Entidades/bin/Debug/net8.0
/Fitzone.Solution/Fitzone.Entidades/obj
/Fitzone.Solution/Fitzone.Front/bin/Debug/net8.0-windows
/Fitzone.Solution/Fitzone.Front/obj
/Fitzone.Solution/Fitzone.Solution/obj
/Fitzone.Solution/.vs/Fitzone.Solution/DesignTimeBuild
/Fitzone.Solution/.vs/Fitzone.Solution/v17/TestStore/0
/Fitzone.Solution/.vs/ProjectEvaluation
*.v2
/Fitzone.Solution/.vs/Fitzone.Solution/v17/.suo
/Fitzone.Solution/.vs/Fitzone.Solution/v17/DocumentLayout.json
/Fitzone.Solution/TestProjectFitZone/bin
/Fitzone.Solution/TestProjectFitZone/obj
