<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default"
			 connectionString="server=181.31.209.59,1433\SQLEXPRESS;
			 Integrated security=no;
			 User Id=fitzone; 
			 Password=fitzone;
			 Database=Fitzone01;
			 TrustServerCertificate=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

